* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,main{
background: #EDEAE5;
}
.nav_bar{
	font-family:Roboto; 
	color:#FCE181;
}
#headerId{
	background: #026670;
}
h1,h3{
	font-family:Roboto; 
	color:#026670; 
}
.text-indent{
	text-indent:3em;
}
p,a,ul,li{
	color:#000;
	font-family:Roboto;
}
#top_button{
	background-image: url(img/top.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	display: block;
	position: fixed;
	bottom: 30px;
	margin-left: 90%;
	cursor: pointer;
}

li{
	list-style: circle;
}
