* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background-color: #fff;
  width: 100%;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
  float: left;
}
.bg_main {
  background: url(img/bg_1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  width:auto;
  height: 55vw;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all.6s ease;
}
a:hover {
  color: rgb(207, 148, 72);
  -webkit-transition: all.6s ease;
}
img {
  max-width: 100%;
  height: auto;
}
#header_1 {
  width: 100%;
  border-bottom: 2px solid rgb(112, 110, 110);
  float: left;
  overflow: hidden;
  background: #000;
  z-index: 100;
}

#header_1 a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all.6s ease;
  display: block;
}
#header_1 a:hover {
  color: rgb(207, 148, 72);
  -webkit-transition: all.6s ease;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header #logo {
  width: 9%;
  float: left;
}
header #logo img {
  width: 75%;
  height: 75%;
  float: left;
  padding-left: 25%;
}
header #menuHead {
  font-family: "Teko", sans-serif;
  width: 90%;
  float: right;
}
header #menuHead div {
  float: right;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 1.7em;
  padding-top: 2%;
}
/* Стили для главной страницы */
#wrapper{
  margin-top: 3%;
  display: inline-flex;
}
#wrapper_4{
  margin-top: 10%;
}
 #wrapper_4 h1 {
  font-family: "Audiowide", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: calc(35px + 3vw);
  line-height: 59px;
  color: #fff;
  text-align: center;
}
 #wrapper_4 h2 {
  font-size: calc(15px + 2vw);
  text-align: center;
  color: orange;
  font-family: "Teko", sans-serif;
  margin-top: 3%;
  line-height: 45%;
}
#wrapper #bigArticle img {
  width: 70%;
  margin-left: 10%;
  opacity: 0.6;
}

/* titillium-web-regular - latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url("../A/fonts/titillium-web-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"),
    url("../A/fonts/titillium-web-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../A/fonts/titillium-web-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../A/fonts/titillium-web-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../A/fonts/titillium-web-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../A/fonts/titillium-web-v9-latin-regular.svg#TitilliumWeb")
      format("svg"); /* Legacy iOS */
}
/*ICO time*/
 .ico_time{ 
  margin-left: 5%;
  display: flex;
  height: 18vw;
  width: 45vw;
  position: relative;
  flex-direction: column;
  background: #1e1e1e;
  box-shadow: 0 0 20px 5px #ffa500;
  border-radius: 10px;
}
.ico_time:hover{
	box-shadow: 0 0 50px 20px #ffa500;
}
.ico_time h4{
	padding-top: 2%;
	padding-bottom: 1%;
	margin-left: 7%;
	text-align: left;
	font-size: calc(6px + 1vw);
	color: #dfe3e4;
	font-family: "Titillium Web", sans-serif;
}
.ico_time h5{
	font-size: calc(1px + 1vw);
	text-align: center;
	color: #dfe3e4;
	text-shadow: 0px 0px 0px rgb(256, 256, 256);
	font-family: "Titillium Web", sans-serif;
}
.ico_time h6{
	padding-top: 0px;
	margin-top: 2%;
	margin-bottom: 0%;
	padding-bottom: 0px;
	text-align: center;
	font-size: calc(15px + 1vw);
	text-align: center;
	color: #dfe3e4;
	text-shadow: 2px 2px 3px #000;
	font-family: "Teko", sans-serif;
	transition: 1s;
}
.ico_time a{
  position: relative;
  cursor: pointer;
	line-height: 1;
  text-decoration: none;
  color: #ffa500;
}
.ico_time a:after {
  display: block;
  position: absolute;
  left: 0; 
  width: 0;
  height: 2px; 
  background-color: #ffa500; 
  content: "";
  transition: width 0.3s ease-out;
}
.entropy_12 a{
  position: relative;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  color: #ffa500;
}

.entropy_12 a:after{
  display: block;
  position: absolute;
  left: 0; 
  width: 0;
  height: 2px; 
  background-color: #ffa500; 
  content: "";
  transition: width 0.3s ease-out; 
}
 a:hover:after {
  width: 100%; 
}
/*оформление таймера*/
.countdown {
  width: 100%;
  font-family: "Teko", sans-serif;
  color: #ffa500;
  display: inline-flex;
  text-align: center;
  font-size: calc(14px + 1vw);
  justify-content: space-around;
}

.countdown-number {
	width: 15%;
 	padding: 1%;
  border-radius: 3px;
  display: inline-block;
}

.countdown-time {
	width: 50%;
  padding: 3%;
  border-radius: 3px;
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 1%;
 
}
/*Скопировать текст в буфер обмена */
.ico_address{
	position: relative;
    display:block;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #000;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: -90%;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

}
button{
	height: 80%;
	width: 120%;
	background: #ffa500;
	color: #000;
  	font-family: "Teko", sans-serif;
  	font-size: calc(6px + 1vw);
  	transition: 0.3s;
    margin-left: 50%;
}
#myInput{
	height: 100%;
	width: 75%;
	margin-left: 7%;
	background: #1e1e1e;
	color: #ffa500;
	font-size: calc(9px + 1vw);
	font-family: "Teko", sans-serif;
	border: 0px;
}
button:hover{
	background: #1e1e1e;
	color: #ffa500
}
.tooltiptext{
	color: #ffa500;
  	font-family: "Teko", sans-serif;
}
/*Features*/
.features{
	display:inline-flex;
	justify-content: space-around;
	width: 80%;
	margin-left: 15%;
	align-items:flex-end;
}
.features_1{
  display:inline-flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
  align-items:flex-start;
}

.fair,.defi,.erc20,.entropy{
	width: 20%;
}
.fair img{
	width: 35%;
}
.defi img{
	width: 33%;
}
.erc20 img{
	width: 26%;
}
.entropy img{
	width: 35%;
}

/* Информация о проекте */
.text {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 20%;
}
@keyframes money {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 50px;
  }
}
@keyframes money_1 {
  0% {
    width: 35%;
  }
  100% {
    width: 40%;
  }
  0% {
    height: 30%;
  }
  100% {
    height: 40%;
  }
  0% {
    left: 14%;
  }
  100% {
    height: 15%;
  }
}
.money {
  position: relative;
  width: 40%;
  height: 80%;
  animation: money 1s infinite alternate;
}
.money img {
  width: 40%;
  height: 40%;
}
.money_1 {
  position: absolute;
  top: 80%;
  left: 14%;
  animation: money_1 1s infinite alternate;
}
.money_1 img {
  width: 35%;
  height: 30%;
}
.text_1 {
  position: relative;
  width: 60%;
}
.text_1 h2 {
  color: #121324;
  font-family: "Titillium Web", sans-serif;
  line-height: 110%;
  margin-right: 3%;
  text-indent: 1.5em;
  text-align: justify;
  font-size: calc(15px + 1vw);
  word-wrap: break-word;
}
.text_2 {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.text_2 h2 {
  color: #121324;
  font-family: "Titillium Web", sans-serif;
  line-height: 110%;
  margin-right: 3%;
  text-indent: 1.5em;
  text-align: justify;
  font-size: calc(8px + 1vw);
  word-wrap: break-word;
}
.features_2{
  margin-top: 1%;
  display:inline-flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 13%;
  align-items:flex-start;
}
.img_fea img{
  width: 50%;
}
/*Read more кнопка */
.accordion {
  margin-top: 1%;
  color: #000;
  cursor: pointer;
  padding: 0.5%;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 0%;
}
.panel {
  padding: 0 18px;
  background-color:#dfe3e4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  margin-top: 0.5%;
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.bg_4{
  background: url(img/bg_4.png);
  background-repeat: no-repeat;
  background-position:left;
  background-size: contain;
}
.bg_5{
  background: url(img/bg_5.png);
  background-repeat: no-repeat;
  background-position:right;
  background-size: contain;
  height: 80%;
}
h6 {
  margin-top: 5%;
  width: 100%;
  font-family: "Teko", sans-serif;
  color: #252425;
  font-size: calc(15px + 4vw);
  margin-bottom: 3%;
  text-shadow: 3px 3px 3px rgb(197, 129, 27);
  text-align: center;
  padding-top: 10%;
}
/* Работа с подвалом сайта */
footer {
  width: 100%;
  padding: 1%;
  border-top: 2px solid silver;
  padding-bottom: 10px;
  float: left;
}
footer #social {
  float: left;
  width: 50%;
}
footer #social img {
  width: 30px;
  height: 27px;
  float: left;
  margin-left: 20px;
}
footer #social p {
  width: 100%;
  font-family: "Teko", sans-serif;
  color: #000;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgb(197, 129, 27);
  margin-top: 5px;
  margin-left: 230px;
}
footer #rights {
  float: left;
  width: 50%;
  text-align: right;
  font-size: 1.1em;
  color: black;
}

/* Road map */
.progress {
  position: relative;
  display: flex;
}
.progress .progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.progress .progress-step:last-child:after {
  display: none;
}
.step-text h2 {
  color: #000;
  line-height: 30px;
  width: 60%;
  margin-left: 20%;
  font-size: 2.5em;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: "Teko", sans-serif;
  text-shadow: 1px 1px 1px rgb(256, 256, 256);
}
.step-text h4 {
  color: #dfe3e4;
  font-weight: 200;
}
.step-text.top {
  position: relative;
  top: -120px;
}
.progress .progress-step:before {
  font-family: FontAwesome;
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  background: #dfe3e4;
  border: 4px solid #645f58;
  border-radius: 50%;
  color: #fff;
}
.progress 
	/*content:"\f00c" */
.progress-step:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 20px;
  background: #dfe3e4;
  z-index: 0;
}
.first-step {
  background: #ffa500;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
  content: "";
  position: relative;
  top: 7px;
  left: 8%;
  width: 0%;
  transition: width 1s ease-in;
  height: 20px;
  z-index: 0;
  border-radius: 50px;
}
.progress .progress-step.is-active {
  color: #290bb0;
}
.progress .progress-step.is-active:before {
  border: 4px solid #777;
  animation: pulse 2s infinite;
}
.progress .progress-step.is-complete {
  color: #290bb0;
}
.progress .progress-step.is-complete:before {
  font-family: FontAwesome;
  font-size: 20px;
  color: #fff;
  background: #ffa500;
  border: 4px solid #000;
  border-radius: 50%;
  z-index: 10;
  position: relative;
}
.progress .progress-step.is-complete:after {
  background: #ffa500;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}

@charset 'UTF-8';
progress {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
progress {
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
}
h1 {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
.join-btn,
.section-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section-title {
  position: relative;
  font-size: 36px;
  line-height: 43px;
  color: #252425;
  width: 60%;
  margin-left: 20%;
  font-size: 5em;
  margin-top: 5%;
  margin-bottom: 20px;
  font-family: "Teko", sans-serif;
  text-shadow: 3px 3px 3px rgb(228, 142, 13);
}
/* .section-title:after{position:absolute;content:'';bottom:-24px;left:50%;-ms-transform:translateX(-48px);transform:translateX(-48px);width:95px;height:3px;background:green url(../img/ico/green-stripe.jpg) center no-repeat} */

.indicators__img {
  margin-bottom: 64px;
  padding-top: 70px;
}
.indicators__img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: auto;
}
.indicators__item-ico,
.indicators__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.road__wrap {
  margin-top: 160px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.road__img-wrap {
  max-width: 100%;
  margin-top: 78px;
}
.road__img img {
  margin-left: -15px;
  display: block;
}
.top-margin {
  margin-top: 100px;
}
.container_road {
  transition: 2s;
  margin-bottom: 8%;
}
.container_road:hover {
  background: #f5d2a6;
  border-radius: 20%;
}

/*Prize and status bar*/
#myProgress {
  margin-left: 5%;
  width: 90%;
  background-color: #ddd;
  border-radius: 50px;
}

#myBar1 {
  width:1%;
  height: 30px;
  background-color: #252425;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
}

h3 {
  margin-top: 20%;
  width: 100%;
  font-family: "Teko", sans-serif;
  color: #252425;
  font-size: 5em;
  margin-bottom: 5%;
  text-shadow: 3px 3px 3px rgb(197, 129, 27);
  text-align: center;
}

#big_b {
  margin-left: 5%;
  width: 50%;
  height: 0px;
  text-align: left;
  line-height: 180%;
  color: #000;
}

p {
  margin-left: 5%;
  width: 100%;
  font-family: "Teko", sans-serif;
  color: #ffa500;
  font-size: 1.5vw;
  text-align: left;
}

.wrapper_0 {
  display: flex;
}
.block_7,
.block_8,
.block_9,
.block_10,
.block_11,
.block_12 {
  height: 100%;
}

.block_7,
.block_8,
.block_9,
.block_10,
.block_11,
.block_12 {
  align-items: stretch;
  margin-top: 3%;
  margin-bottom: 1.4%;
  width: 8%;
  height: 9%;
  margin-left: 8.3%;
  background: #ffbe6a;
  position: relative;
  border-radius: 10px;
  transition: 1s;
}
.block_7:before,
.block_8:before,
.block_9:before,
.block_10:before,
.block_11:before,
.block_12:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 40%;
  top: 100%;
  border-right: 12px solid transparent;
  border-top: 24px solid #ffbe6a;
  border-left: 12px solid transparent;
}

.wrapper_1 {
  display: flex;
}

.block_1,
.block_2,
.block_3,
.block_4,
.block_5,
.block_6 {
  height: 100%;
}
.block_2,
.block_3,
.block_4,
.block_5,
.block_6 {
  margin-top: 1.5%;
  width: 8%;
  height: 9%;
  margin-right: 7.8%;
  background: #ffbe6a;
  position: relative;
  border-radius: 10px;
  transition: 1s;
  align-items: stretch;
}
.block_1 {
  margin-left: 3%;
  margin-top: 1.5%;
  width: 8%;
  height: 9%;
  margin-right: 7.8%;
  background: #ffbe6a;
  position: relative;
  border-radius: 10px;
  transition: 1s;
}
.block_1:before,
.block_2:before,
.block_3:before,
.block_4:before,
.block_5:before,
.block_6:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 40%;
  bottom: 100%;
  border-right: 12px solid transparent;
  border-bottom: 24px solid #ffbe6a;
  border-left: 12px solid transparent;
}
.block_1:hover,
.block_2:hover,
.block_3:hover,
.block_4:hover,
.block_5:hover,
.block_6:hover,
.block_7:hover,
.block_8:hover,
.block_9:hover,
.block_10:hover,
.block_11:hover,
.block_12:hover {
  z-index: 10; /* Поверх всех картинок */
  transform: scale(1.1); /* Масштабирование на 20% */
  background: #ffa500;
}

h4 {
  font-family: "Teko", sans-serif;
  color: #000;
  margin-top: 2%;
  text-align: center;
  font-size: 1.5vw;
  line-height: 100%;
}
.h4_1 {
  font-family: "Teko", sans-serif;
  color: #000;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.5vw;
  line-height: 100%;
}
.h4_1_1 {
  font-family: "Teko", sans-serif;
  color: #000;
  margin-top: 2%;
  text-align: center;
  font-size: 1.5vw;
  line-height: 100%;
}
.h4_2 {
  font-family: "Teko", sans-serif;
  color: #000;
  margin-top: 2%;
  text-align: center;
  line-height: 90%;
  font-size: 2vw;
}
.h4_3 {
  font-family: "Teko", sans-serif;
  color: #000;
  margin-top: 2%;
  text-align: center;
  line-height: 90%;
  font-size: 2vw;
  margin-bottom: 5%;
}

h5 {
  font-family: "Teko", sans-serif;
  color: #dfe3e4;
  text-align: center;
  text-shadow: 3px 3px 3px #000;
  font-size: 1.5vw;
}

.img_1 {
  width: 47%;
  margin-left: 26%;
}
.img_1_1 {
  width: 57%;
  margin-left: 22%;
}
.img_2 {
  width: 100%;
}
.img_3 {
  width: 100%;
  margin-left: 1%;
}
.img_3_1 {
  width: 80%;
  margin-left: 10%;
}
.img_4 {
  width: 87%;
  margin-left: 5%;
}
.img_5 {
  width: 80%;
  margin-left: 10%;
}

/* About us */
.about_us {
  margin-top: 8%;
  display: flex;
  height: 800px;
  width: 100%;
  position: relative;
}

.people_1 {
  top: 5%;
  left: 7%;
  width: 4%;
  height: 20%;
  background: #ffbe6a;
  margin-bottom: 15%;
  border-radius: 10px;
  position: absolute;
  width: 25%;
  transition: 1s;
}
.people_2 {
  top: 22%;
  left: 67%;
  width: 4%;
  height: 27%;
  background: #ffbe6a;
  margin-bottom: 4%;
  position: absolute;
  border-radius: 10px;
  width: 25%;
  transition: 1s;
}
.people_3 {
  top: 40%;
  left: 7%;
  width: 4%;
  height: 20%;
  background: #ffbe6a;
  margin-bottom: 15%;
  border-radius: 10px;
  position: absolute;
  width: 25%;
  transition: 1s;
}
.people_4 {
  top: 57%;
  left: 68%;
  width: 4%;
  height: 14%;
  background: #ffbe6a;
  margin-bottom: 4%;
  position: absolute;
  border-radius: 10px;
  width: 25%;
  transition: 1s;
}
.people_1:hover,
.people_2:hover,
.people_3:hover,
.people_4:hover {
  background: #ffa500;
}

line_main {
  top: 1%;
  left: 49%;
  height: 36.5%;
  background: #ffbe6a;
  width: 8px;
  border-radius: 10px;
  position: absolute;
}
.line_1 {
  top: 2.5%;
  left: 19%;
  width: 30%;
  height: 0.5%;
  position: absolute;
  background: #000;
}
.line_3 {
  top: 37.5%;
  left: 19%;
  width: 30%;
  height: 0.5%;
  background: #000;
  position: absolute;
}
.line_2 {
  top: 19.5%;
  left: 49%;
  width: 30%;
  height: 0.5%;
  background: #000;
  position: absolute;
}

.circle_1 {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 100%;
  background: #000;
  top: -0.5%;
  left: -100%;
}
.circle_2 {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  background: #000;
  top: 45%;
  left: -100%;
}
.circle_3 {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  background: #000;
  top: 95%;
  left: -100%;
}
.circle_4 {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  background: #000;
  top: 95.5%;
  left: -100%;
}
.people_2:before,
.people_1:before,
.people_3:before,
.people_4:before {
  content: "";
  width: 3%;
  height: 3%;
  position: absolute;
  left: 45%;
  background: #000;
  bottom: 100%;
  margin-bottom: 1%;
  border-radius: 100%;
  border-right: 12px solid transparent;
  border-bottom: 24px solid #000;
  border-left: 12px solid transparent;
  margin-left: 1%;
}

.about_us h4 {
  color: #000;
  font-family: "Titillium Web", sans-serif;
  margin-top: 1%;
  font-size: 20px;
  line-height: 100%;
  word-wrap: break-word;
}
.about_us h5 {
  color: #dfe3e4;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin-top: 1%;
  word-wrap: break-word;
}
.about_us h3 {
  color: #000;
  font-family: "Titillium Web", sans-serif;
  font-size:20px;
  line-height: 100%;
  margin-top: 1%;
  word-wrap: break-word;
}
.about_us img {
  margin-top: 1.5%;
  margin-right: 2%;
  width: 28px;
  height: 28px;
}
.prisez_for_img {
  position: absolute;
  width: 80%;
  height: auto;
  opacity: 0.3;
  margin-top: 20%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.secondary_for {
  position: absolute;
  width: 95%;
  margin-left: 2%;
}
.prisez_fon_main {
  position: relative;
}
.progress-bar-ico {
  position: relative;
  margin-top: 900px;
}
.progress_for_img_class img {
  position: absolute;
  width: 70%;
  height: auto;
  opacity: 0.1;
  margin-top: 20%;
  margin-left: 15%;
  margin-bottom: 10%;
}
.progress_for_img_div {
  position: absolute;
  width: 95%;
  margin-left: 2%;
} 
#about_us {
  margin-top: 1800px;
}
.text {
  /* margin-top: 10%; */
  display: flex;
  width: 100%;
  /* height: 1200px; */
  position: relative;
  margin-bottom: 0;
}
@media (max-width: 1245px) {
  header #menuHead div {
    line-height: 3px;
  }
  .prisez_for_img {
    margin-top: 300px;
  }
}
@media (max-width: 1025px) {
  .prisez_for_img {
    margin-top: 250px;
  }
  header #menuHead div {
    line-height: 0px;
    padding-top: 3%
  }
}
@media (max-width: 1025px) {
  #wrapper #bigArticle img {
    width: 60%;
    margin-left: 15%;
    margin-bottom: 25px;
  }

  .money {
    display: none;
  }
  .money_1 {
    display: none;
  }
  .text_1{
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  }
  }
  .prisez_for_img {
    margin-top: 230px;
  }
  .road__wrap {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .progress_for_img_class img {
    margin-top: 190px;
    margin-left: 15%;
    margin-bottom: 150px;
  }
  .progress_for_img_div {
    margin-left: 20px;
  }
  #about_us {
    margin-top: 1550px;
  }
  .about_us {
    margin-top: 8%;
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 780px) {
  #wrapper #bigArticle img {
    width: 45%;
    margin-left: 50%;
  }
 
  h6 {
    margin-top: 3%;
    width: 100%;
    font-family: "Teko", sans-serif;
    color: #252425;
    font-size: 5em;
    margin-bottom: 10%;
    padding-top: 15%;
  }
  .secondary_for {
    position: absolute;
    width: 95%;
    margin-left: 10px;
  }
  .prisez_for_img {
    margin-left: 5%;
    width: 90%;
    margin-top: 260px;
  }
  .progress-bar-ico {
    position: relative;
    margin-top: 690px;
  }
  .container {
    padding-left: 0;
  }
  .step-text h2 {
    font-size: 2.1em;
  }
  #about_us {
    margin-top: 1350px;
  }
  header #logo {
    width: 10%;
  }
  .block_1,
  .block_2,
  .block_3,
  .block_4,
  .block_5,
  .block_6 {
    margin-top: 3.1%;
  }
  .block_1:before,
  .block_2:before,
  .block_3:before,
  .block_4:before,
  .block_5:before,
  .block_6:before {
    left: 28%;
  }
  .block_7:before,
  .block_8:before,
  .block_9:before,
  .block_10:before,
  .block_11:before,
  .block_12:before {
    left: 30%;
  }

  .ico_time{ 
  display: flex;
  height: 200px;
  width: 40vw;
  position: absolute;
  top: 25%;
  left: 5%;
  flex-direction: column;
  background: #1e1e1e;
  box-shadow: 0 0 20px 5px #ffa500;
  border-radius: 10px;
}
}
@media (max-width: 480px) {
  #wrapper #bigArticle h1 {
    font-size: 80px;
    margin-top: 180px;
    margin-left: 5%;
    width: 90%;
  }
  #wrapper #bigArticle h2 {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    width: 90%;
  }
  h6 {
    margin-top: 118px;
    font-size: 3.3em;
  }
  .text_1 {
    margin-right: 10px;
  }
  #wrapper #bigArticle img {
    width: 99%;
    margin-left: 0;
    margin-bottom: 35px;
    margin-top: 20px;
  }
  footer #social img {
    width: 23px;
    height: 23px;
    float: left;
    margin-left: 20px;
  }
  footer #rights {
    font-size: 0.9em;
  }
}
@media (max-width: 400px) {
  #wrapper #bigArticle img {
    width: 94%;
    margin-left: 3%;
    margin-bottom: 35px;
    margin-top: 20px;
  }
  .text_1 h2 {
    font-size: calc(15px + 0.3vw);
  }
  .block_7 {
    margin-top: 3%;
    margin-bottom: 1.4%;
    width: 100%;
    height: 9%;
    margin-left: 8.3%;
    background: #ffbe6a;
    position: relative;
    border-radius: 10px;
    transition: 1s;
  }
}
@media (max-width: 350px) {
  #wrapper #bigArticle h1 {
    margin-top: 130px;
    font-size: 55px;
  }
  #wrapper #bigArticle h2 {
    font-size: 30px;
  }
  h6 {
    font-size: 3em;
  }
  .text_1 {
    margin-right: 10px;
  }
}
@media (max-width: 760px) {
  footer #social p {
    display: none;
  }
  #prizes h6 {
    position: relative;
  }
  #myProgress {
    position: absolute;
    top: 300px;
    width: 100%;
  }
  #balance {
    position: absolute;
    top: 300px;
    z-index: 99;
  }
  .wrapper_0 {
    margin-left: 3%;
    width: 94%;
  }
  .wrapper_1 {
    margin-left: 3%;
    width: 94%;
  }
  .block_7,
  .block_8,
  .block_9 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 25%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 300px;
    /* margin-left: 60px; */
  }
  .block_7 {
    /* margin-left: 60px; */
  }
  .block_8 {
    margin-left: 240px;
  }
  .block_9 {
    margin-left: 480px;
  }
  .block_7:before,
  .block_8:before,
  .block_9:before,
  .block_10:before,
  .block_11:before,
  .block_12:before {
    display: none;
  }
  .block_10,
  .block_11,
  .block_12 {
    position: absolute;
    margin-bottom: 0;
    width: 25%;
    height: 200px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 780px;
  }
  .block_10 {
    /* margin-left: 60px; */
  }
  .block_11 {
    margin-left: 240px;
  }
  .block_12 {
    margin-left: 480px;
  }
  .block_1,
  .block_2,
  .block_3,
  .block_4,
  .block_5,
  .block_6 {
    display: none;
  }

  h4 {
    font-family: "Teko", sans-serif;
    color: #000;
    margin-top: 2%;
    text-align: center;
    font-size: 3vw;
    line-height: 100%;
    padding-top: 10px;
  }
  .h4_3 {
    font-size: 3vw;
  }
  .h4_1_1 {
    font-size: 3vw;
  }
  .h4_2 {
    font-family: "Teko", sans-serif;
    color: #000;
    margin-top: 2%;
    text-align: center;
    line-height: 90%;
    font-size: 3vw;
  }
  h5 {
    font-size: 3vw;
    position: absolute;
    bottom: 10px;
    left: 30%;
  }
  .progress-bar-ico {
    margin-top: 1390px;
  }
  .prisez_for_img {
    margin-top: 600px;
  }
  .block_1,
  .block_2,
  .block_3 {
    display: block;
    position: absolute;
    margin-bottom: 0;
    width: 25%;
    height: 200px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 50px;
  }
  .block_1 {
    /* margin-left: 60px; */
  }
  .block_2 {
    margin-left: 240px;
  }
  .block_3 {
    margin-left: 480px;
  }
  .block_1:before,
  .block_2:before,
  .block_3:before,
  .block_4:before,
  .block_5:before,
  .block_6:before {
    display: none;
  }
  h6 {
    margin-bottom: 20%;
  }
  .block_4,
  .block_5,
  .block_6 {
    display: block;
    position: absolute;
    margin-bottom: 0;
    width: 25%;
    height: 200px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 530px;
  }
  .block_4 {
    /* margin-left: 60px; */
  }
  .block_5 {
    margin-left: 240px;
  }
  .block_6 {
    margin-left: 480px;
  }
  #about_us {
    margin-top: 2050px;
  }
}
@media (max-width: 670px) {
  #myProgress {
    position: absolute;
    top: 250px;
    width: 100%;
  }
  #balance {
    position: absolute;
    top: 250px;
    z-index: 99;
  }
  .block_4 {
    /* margin-left: 60px; */
  }
  .block_5 {
    margin-left: 220px;
  }
  .block_6 {
    margin-left: 440px;
  }
  .block_7 {
    /* margin-left: 60px; */
  }
  .block_8 {
    margin-left: 220px;
  }
  .block_9 {
    margin-left: 440px;
  }
  .block_1 {
    /* margin-left: 60px; */
  }
  .block_2 {
    margin-left: 220px;
  }
  .block_3 {
    margin-left: 440px;
  }
  .block_10 {
    /* margin-left: 60px; */
  }
  .block_11 {
    margin-left: 220px;
  }
  .block_12 {
    margin-left: 440px;
  }
  .block_1,
  .block_2,
  .block_3,
  .block_4,
  .block_5,
  .block_6,
  .block_7,
  .block_8,
  .block_9,
  .block_10,
  .block_11,
  .block_12 {
    height: 180px;
  }
}
@media (max-width: 570px) {
  .block_4 {
    /* margin-left: 60px; */
  }
  .block_5 {
    margin-left: 200px;
  }
  .block_6 {
    margin-left: 400px;
  }
  .block_7 {
    /* margin-left: 60px; */
  }
  .block_8 {
    margin-left: 200px;
  }
  .block_9 {
    margin-left: 400px;
  }
  .block_1 {
    /* margin-left: 60px; */
  }
  .block_2 {
    margin-left: 200px;
  }
  .block_3 {
    margin-left: 400px;
  }
  .block_10 {
    /* margin-left: 60px; */
  }
  .block_11 {
    margin-left: 200px;
  }
  .block_12 {
    margin-left: 400px;
  }
  .block_1,
  .block_2,
  .block_3,
  .block_4,
  .block_5,
  .block_6,
  .block_7,
  .block_8,
  .block_9,
  .block_10,
  .block_11,
  .block_12 {
    height: 160px;
  }
}
@media (max-width: 520px) {
  .block_4 {
    /* margin-left: 60px; */
  }
  .block_5 {
    margin-left: 180px;
  }
  .block_6 {
    margin-left: 360px;
  }
  .block_7 {
    /* margin-left: 60px; */
  }
  .block_8 {
    margin-left: 180px;
  }
  .block_9 {
    margin-left: 360px;
  }
  .block_1 {
    /* margin-left: 60px; */
  }
  .block_2 {
    margin-left: 180px;
  }
  .block_3 {
    margin-left: 360px;
  }
  .block_10 {
    /* margin-left: 60px; */
  }
  .block_11 {
    margin-left: 180px;
  }
  .block_12 {
    margin-left: 360px;
  }
}
@media (max-width: 465px) {
  .block_1,
  .block_7 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 45%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 80px;
    /* margin-left: 60px; */
  }
  .block_2,
  .block_8 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 45%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 280px;
    /* margin-left: 60px; */
  }
  .block_3,
  .block_9 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 45%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 480px;
    /* margin-left: 60px; */
  }
  .block_4,
  .block_10 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 45%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 680px;
    /* margin-left: 60px; */
  }
  .block_5,
  .block_11 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 45%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 880px;
    /* margin-left: 60px; */
  }
  .block_6,
  .block_12 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 45%;
    height: 180px;
    margin-left: 0;
    background: #ffbe6a;
    border-radius: 10px;
    transition: 1s;
    margin-top: 1080px;
    /* margin-left: 60px; */
  }
  .block_12 {
    margin-left: 50%;
  }
  /* .block_4 {
    margin-left: 50%;
  } */
  .block_7 {
    margin-left: 50%;
  }
  .block_9 {
    margin-left: 50%;
  }
  .block_8 {
    margin-left: 50%;
  }

  .block_10 {
    margin-left: 50%;
  }
  .block_11 {
    margin-left: 50%;
  }
  .progress-bar-ico {
    margin-top: 1590px;
  }
  h4 {
    font-size: 22px;
  }
  .h4_3 {
    font-size: 22px;
  }
  .h4_2 {
    font-size: 22px;
  }
  .h4_1_1 {
    font-size: 22px;
  }
  .h4_1 {
    font-size: 22px;
  }
  h5 {
    font-size: 25px;
    left: 26%;
  }
  #myProgress {
    width: 90%;
  }
  #balance {
    font-size: 13px;
  }
  #about_us {
    margin-top: 2300px;
  }
  .progress_for_img_class img {
    margin-top: 230px;
  }
}
@media (max-width: 600px) {
  .progress {
    position: relative;
    display: block;
  }
  .step-text h2 {
    margin-top: 0;
  }
  .progress .progress-step:before {
    float: left;
  }
  .step-text.top {
    position: static;
    top: -120px;
  }
  .first-step {
    display: none;
  }
  .progress .progress-step:before {
    display: none;
  }
  .step-text h2 {
    font-size: 28px;
  }
  .top-margin {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .section-title {
    width: 80%;
    margin-left: 10%;
  }
  .step-text h2 {
    font-size: 28px;
    width: 80%;
    margin-left: 10%;
  }
  .indicators__img {
    margin-bottom: 64px;
    padding-top: 20px;
  }
}
@media (max-width: 759px) {
  .people_1 {
    top: 4%;
    left: 4%;
    width: 5%;
    height: 20%;
    background: #ffbe6a;
    margin-bottom: 15%;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    transition: 1s;
  }
  .people_2 {
    top: 21%;
    left: 65%;
    width: 4%;
    height: 23%;
    background: #ffbe6a;
    margin-bottom: 4%;
    position: absolute;
    border-radius: 10px;
    width: 30%;
    transition: 1s;
  }
  .people_3 {
    top: 39%;
    left: 4%;
    width: 4%;
    height: 22%;
    background: #ffbe6a;
    margin-bottom: 15%;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    transition: 1s;
  }
  .about_us h5 {
    color: #dfe3e4;
    font-family: "Titillium Web", sans-serif;
    font-size: calc(6px + 1vw);
    line-height: 100%;
    margin-top: 1%;
    word-wrap: break-word;
    position: relative;
    /* text-align: center; */
    top: 69px;
    left: -4px;
  }

  .about_us h4 {
    font-size: 17px;
  }
  .about_us h5 {
    font-size: 13px;
  }
  .about_us h3 {
    margin-top: -4%;
  }
}
@media (max-width: 400px) {
  .people_1 {
    top: 4%;
    left: 1%;
    width: 25%;
    height: 22%;
    background: #ffbe6a;
    margin-bottom: 15%;
    border-radius: 10px;
    position: absolute;
    width: 35%;
    transition: 1s;
  }
  .people_2 {
    top: 21%;
    left: 63%;
    width: 10%;
    height: 24%;
    background: #ffbe6a;
    margin-bottom: 4%;
    position: absolute;
    border-radius: 10px;
    width: 35%;
    transition: 1s;
  }
  .people_3 {
    top: 39%;
    left: 1%;
    width: 10%;
    height: 22%;
    background: #ffbe6a;
    margin-bottom: 15%;
    border-radius: 10px;
    position: absolute;
    width: 35%;
    transition: 1s;
  }
  #about_us {
    margin-top: 2200px;
  }
  .about_us h3 {
    margin-top: -4%;
  }
  footer #social img {
    margin-left: 10px;
  }
}

@media (max-width: 500px){

header #menuHead div {
  float: right;
  margin-right: 2%;
  font-size: 0.5em;
  padding-top: 3%;
}
header #menuHead {
  font-family: "Teko", sans-serif;
  width: 80%;
  float: right;
}
#header_1 {
  width: 100%;
  border-bottom: 2px solid rgb(112, 110, 110);
  float: left;
  overflow: hidden;
  background: #000;
  z-index: 100;
}

#header_1 a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all.6s ease;
  display: block;
}
#header_1 a:hover {
  color: rgb(207, 148, 72);
  -webkit-transition: all.6s ease;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#wrapper #bigArticle h1 {
  width: 80%;
  margin-left: 10%;
  font-family: "Audiowide", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: calc(35px + 3vw);
  line-height: 59px;
  color: #fff;
  text-align: center;
  margin-top: 4%;
}
#wrapper #bigArticle h2 {
  width: 60%;
  margin-left: 20%;
  font-size: calc(15px + 2vw);
  text-align: center;
  color: orange;
  font-family: "Teko", sans-serif;
  float: left;
  padding-top: 1%;
  margin-bottom: 2%;
  line-height: 50%;
}
#wrapper #bigArticle img {
  width: 50%;
  margin-left: 23%;
  opacity: 0.6;
}
.bg_main {
  background: url(img/bg_1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  width:auto;
  height: 80vw;
}
/*ICO time*/
 .ico_time{ 
  display: flex;
  height: 25%;
  width: 70%;
  position: absolute;
  top: 40%;
  left: 15%;
  flex-direction: column;
  background: #1e1e1e;
  box-shadow: 0 0 20px 5px #ffa500;
  border-radius: 10px;
}

.ico_time h4{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 7%;
  text-align: left;
  font-size: calc(6px + 1vw);
  color: #dfe3e4;
  font-family: "Titillium Web", sans-serif;
}
}
