@import url("fonts/GilroyRegular/style.css");
@import url("fonts/GilroyHeavy/style.css");
@import url("fonts/GilroySemibold/style.css");
@import url("fonts/GilroyBold/style.css");
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/GilroyMedium/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/GilroyMedium/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/GilroyMedium/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/GilroyMedium/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/GilroyMedium/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/GilroyMedium/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
nav.mobile {
    display: none;
}
@media(max-width: 1400px){
	.btn-download {
    height: 44px;
    width: 284px!important;
	}
	.underline-p-2::after { 
	  left: 240px!important;
	}
	.underline-p-3::after {
	  left: 400px!important;
	  width: 50px!important;
	}
	.underline-p-4::after { 
	  width: 100px!important;
	}
	.img-curse{
	width: 328px;
	height: auto;
	}
	.select-item-sc{
	width: 150px!important;
	background-position-x: 120px!important;
	}
	.label-select{
		padding-right: 100px!important;
	}
}
@media(max-width: 1200px){
	nav.desktop {
    display: none;
	}
	nav.mobile {
    display: block;
	}
	.btn-download {
    height: 44px;
    width: 224px!important;
	}
	.underline-p-2::after { 
	  left: 180px!important;
	  width: 115px;
	}
	.underline-p-3::after {
	  left: 310px!important;
	  width: 45px!important;
	}
	.underline-p-4::after { 
	  width: 90px!important;
	}
	.img-curse{
	width: 270px;
	height: auto;
	}
	.select-item-sc{
	width: 130px!important;
	background-position-x: 110px!important;
	}
	.label-select{
		padding-right: 80px!important;
	}
}
@media(max-width: 992px){
	.btn-download {
    height: 44px;
    width: 264px!important;
	}
	.underline-p-2::after { 
	  left: 200px!important;
	  width: 105px!important;
	}
	.underline-p-3::after {
	  left: 330px!important;
	  width: 45px!important;
	}
	.underline-p-4::after { 
	  width: 100px!important;
	}
	.img-curse{
	width: 320px;
	height: auto;
	}
}

@media(max-width: 767px){
	.btn-download {
    height: 44px;
    width: 372px!important;
	}
	.underline-p-2::after { 
	  left: 120px!important;
	  width: 90px!important;
	}
	.underline-p-3::after {
	  left: 215px!important;
	  width: 45px!important;
	}
	.underline-p-4::after { 
	  width: 100px!important;
	}
	.img-curse{
	width: 440px;
	height: auto;
	}
}
@media(max-width: 576px){
	.btn-download {
    height: 44px;
    width: 372px!important;
	}
}
@media(max-width: 500px){
	.btn-download {
    height: 44px;
    width: 315px!important;
	}
}
body{
	position: relative;
}
input[type="text"]::placeholder {
  	font-family: Gilroy;
  	font-weight: 600;
  	color: rgba(0, 0, 0, 0.5);
}
input[type="text"]{
	border-radius: 10px!important;  
  	border: 2px solid #CDD2E6!important;
}
input[type="text"]:focus{
	box-shadow: none!important;
	border: 2px solid #031E80!important;
}
textarea:focus{
	box-shadow: none!important;
	border: 2px solid #031E80!important;
}
textarea{
	border-radius: 10px!important;  
  	border: 2px solid #CDD2E6!important;
}
input[type="search"]::placeholder {
	font-family: Gilroy;
	color: rgba(255, 255, 255, 0.5)!important;
}
input[type="search"]{
	background: rgba(255, 255, 255, 0.2) url("img/search.svg") 10px 9px no-repeat;
	border:none; 
	border-radius: 10px;
}
.pt-6 {
    padding-top: 4rem!important;
}
.form-control{
	font-size: 14px;
}
.datalib-btn-white:hover{
	color: #FFFFFF!important;
}
a.nav-link {
    color: #FFFFFF!important;
    font-family: Gilroy;
    font-size: 14px;
}
a.nav-mobile{
	font-size: 16px!important;
}
a.nav-link:hover{
	color: #FFFFFF!important;
	text-decoration: underline;
}
a.nav-link:active{
	color: #FFFFFF!important;
	text-decoration: underline;
}
header .btn{
	color: #FFFFFF;
	font-family: Gilroy;
	font-size: 14px;
}
h1{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #031E80;
}
h2{
	font-family: 'Gilroy';
	color: #031E80;
	font-weight: 600!important;
}
h3{
	font-family: 'Gilroy';
	color: #031E80;
	font-weight: 700;
	font-size: 16px;
}
h4{
	font-family: Gilroy-Medium!important;
	color: #031E80;
	font-weight: 500!important;
}
h5{
	font-family: Gilroy-Medium!important;
	color: #031E80;
	font-weight: 500!important;
	font-size: 14px;
}
h6{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	color: #000000;
}
main{
	background: #DEE2EF;
}

p{
	font-family: 'Gilroy';
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	font-style: normal;
}
.profile p{
	color: #031E80;
}
footer, nav {
	background: #031E80;
}
footer p {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500!important;
}
footer a {
	color: #FFFFFF;
}
.sidebar{
	background: #FFFFFF;
	font-family: Gilroy;
}

.content{
	background: #FFFFFF;
	position: relative;
}
.border{
	border-radius: 10px;
	border: 2px solid #CDD2E6!important;
}
.border-round{
	border-radius: 10px;
}
label{
	font-family: Gilroy;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-size: 14px;
}
.btn-list{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
}
.btn-list[aria-expanded="true"]::before {
    content: url("img/chevron-up.svg");
}
.btn-list::before {
    width: 1.25em;
    line-height: 0;
    content: url("img/chevron-down.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}
a.list-active{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	color: #031E80;
	text-decoration: none;
	font-weight: 600;
}
a.list-no-active{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	color: rgba(0, 0, 0, 0.55);
	text-decoration: none;
}
a.list-sidebar{
	color: #000000;
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	text-decoration: none;
}
.btn-list{
	color: #000000;
	font-family: Gilroy;
	font-weight: 600;
	box-shadow: none!important;
}
.form-label-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 11px 0 0;
    padding: 8px 20px 7px;
    border-radius: 10px;
    font-size: 14px;
    background: #CDD2E6;
    color: #000000;
    cursor: pointer;
    font-family: Gilroy;
}

.form-control-file {
    display: none;
}

.form-check-input:checked {
    background-color: #031E80!important;
    border-color: #031E80!important;
    outline: 0!important;
}

.form-check-input {
	width: 1.5em!important;
    height: 1.5em!important;
    background-size: auto!important;
    box-shadow: none!important;
    border: 1px solid #031E80!important;
}

.form-check-input:checked[type=checkbox]{
	background-image: url("img/check.svg")!important;
}

.girl-container{
	position:absolute;
	display:block;
	bottom: 0px;
	right:-20px;
}
.text-container{
	position: relative;
	border-radius: 10px; 
	border: 2px solid #CDD2E6;
}
.footer-pale-white{
	color: rgba(255, 255, 255, 0.7);
}
.footer-white-main{
	color: #FFFFFF;
	line-height: 1.2;
}
.footer-white{
	color: #FFFFFF;
	line-height: 1.5;
}
.footer-pale-white-mini{
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
}
.grey-text{
	color: rgba(0, 0, 0, 0.5)!important;
	font-weight: 600; 
	line-height: 1;"
}
button[type="submit"]{
	border-radius: 10px; 
	background: #031E80; 
	color: #FFFFFF;
}
.bg-grey{
	background: #CDD2E6;
}
.border-top{
	border-top: 2px solid #CDD2E6!important;
} 
.border-bottom{
	border-bottom: 2px solid #CDD2E6!important;
}
.datalib-btn:hover{
	color: #FFFFFF;
}
.btn:disabled{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #031E80;;
	opacity: 1!important;
}

.btn-bell{
	background: rgba(255, 255, 255, 0) url("img/bell.svg") 0px 2px no-repeat;
	height: 15px;
	width: 13px;
	border: none;
}
.btn-bell-active{
	background: rgba(255, 255, 255, 0) url("img/bell_active.svg") 0px 0px no-repeat;
	height: 15px;
	width: 13px;
	border: none;
}
.btn-nav{
	background: none;
	border: none;
	color: #FFFFFF;
	font-family: Gilroy;
    font-size: 14px;
}
.btn-nav:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-nav[aria-expanded="true"]::before {
    content: url("img/nav_up.svg");
}
.btn-nav::after {
    width: 1.25em;
    padding-left: 2px;
    line-height: 0;
    content: url("img/nav_down.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}
.btn-nav-1{
	background: none;
	border: none;
	color: #FFFFFF;
	font-family: Gilroy;
    font-size: 16px;
}
.btn-nav-1:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-nav-1[aria-expanded="true"]::before {
    content: url("img/nav_up.svg");
}
.btn-nav-1::after {
    width: 1.25em;
    padding-left: 2px;
    line-height: 0;
    content: url("img/nav_down.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}
.edit-container{
	position: absolute;
	display:block;
	top: 0px;
	right: 0px;
}
.btn-edit{
	background: rgba(255, 255, 255, 0) url("img/edit.svg") 0px 0px no-repeat;
	height: 40px;
	width: 40px;
	border: none;
}
.grey-p p{
	color: rgba(0, 0, 0, 0.55)!important;
}
.profile-line{
	position: absolute;
	display:block;
	top: 145px;
	right: 0px;
}
.menu:before {
    position: absolute;
    left: 20px;
    bottom: 95%;
	content: '';
    background-image: url('img/white_navbar_catalog.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}
.menu {
	position: absolute;
	top: 70px;
	left: 605px;
	background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
}
.menu.open {
    transition: .2s visibility linear, .2s opacity linear;
    visibility: visible;
    opacity: 1;
}
.menu-1:before {
    position: absolute;
    right: 30px;
    bottom: 97%;
	content: '';
    background-image: url('img/white_navbar_catalog.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}
.menu-1 {
	position: absolute;
	top: 70px;
	right: 270px;
	background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
}
.menu-1.open {
    transition: .2s visibility linear, .2s opacity linear;
    visibility: visible;
    opacity: 1;
}
.nav-list{
	color: #000000;
	font-family: Gilroy-Medium!important;
	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
}
.nav-list:hover{
	color: #000000;
}
.menu li:hover{
	background: #E5E8F2;
	border-radius: 15px;
}
.menu-1 li:hover{
	background: #E5E8F2;
	border-radius: 15px;
}
.btn-event{
	text-decoration: none;
	background-color: transparent;
    border: 0px solid transparent;
    padding: .375rem 0.75rem;
    font-weight: 600;
    font-size: 12px;
	font-family: Gilroy;
	color: rgba(0, 0, 0, 0.5);
}
.btn-event-active{
	text-decoration: none;
	background-color: transparent;
    border: 0px solid transparent;
    padding: .375rem 0.75rem;
    font-weight: 600;
    font-size: 12px;
	font-family: Gilroy;
	color: #031E80;
}
.event-active-right{
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
}
.event-active-left{
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
}
.event-no-active-left{
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
}
.event-no-active-right{
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
}
.all-event{
	text-decoration: none;
	border-radius: 10px;
	background: #031E80;
    border: 0px solid transparent;
    padding: .375rem 0.75rem;
    font-weight: 500;
    font-size: 14px;
	font-family: Gilroy;
	color: #FFFFFF;
}
.event{
	border-radius: 15px;
	border: 2px solid #CDD2E6;
	position: relative;
}
.hashtags-sc{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: #CDD2E6;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 14px;
	font-weight: 500;
}
.hashtags{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: #CDD2E6;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 12px;
	font-weight: 500;
}
.hashtags-green{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: #C7E8E8;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 12px;
	font-weight: 500;
}
.btn-download {
    height: 44px;
    width: 398px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}
.download-container{
	position: absolute;
	display:block;
	bottom: -2px;
	left: -2px;
	height: 44px;
    width: auto;
    background: #031E80;
	border-radius: 0px 0px 15px 15px;
}

::-webkit-datetime-edit{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
::-webkit-calendar-picker-indicator{
	display: none;
}

.list_line{
	width: auto;
	height: 3px;
	background: #CDD2E6;
}
.black-text{
	color: #000000!important;
}
.underline-div{
	position: relative;
}
.underline-p-1::after { 
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  display: block;
  height: 3px;
  width: 50px;
  background: #031E80;
}
.underline-p-2::after { 
  content: "";
  position: absolute;
  top: 80px;
  left: 350px;
  display: block;
  height: 3px;
  width: 115px;
  background: #031E80;
}
.underline-p-3::after { 
  content: "";
  position: absolute;
  top: 80px;
  left: 550px;
  display: block;
  height: 3px;
  width: 60px;
  background: #031E80;
}
.underline-p-4::after { 
  content: "";
  position: absolute;
  top: 80px;
  right: 0px;
  display: block;
  height: 3px;
  width: 130px;
  background: #031E80;
}
.p-12{
	font-size: 12px!important;
}
.bottom-line-arrival{
	border-bottom: 2px solid #e5e7ea;
}

select{
	padding-left:5px;
 	-webkit-appearance: none;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	background: url("img/chevron-down.svg") 0px 15px no-repeat;
	background-position-x: 100px;
	width: 120px;
	height: 40px;
	font-family: Gilroy;
	font-size: 12px;

}
.select-item-sc{
	width: 180px;
	background-position-x: 150px;
}
.select-item-sc select:active, select:focus{
	background-position-x: 150px!important;
}
.select-item{
	border: 2px solid #CDD2E6;
	border-radius: 10px;
}
select:hover{
	background-color: rgba(224, 229, 231, 0.5);
}
select:active, select:focus{
	background: url("img/chevron-up.svg") 0px 15px no-repeat;
	background-position-x: 100px;
	outline: none!important;
	border: 2px solid #031E80!important;
}
.date-left{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
}
.date-right{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
}
input[type="date"]:focus{
	outline: none;
}
input[type="date"]{
	outline: none;
	border: none;
}
::-webkit-datetime-edit {
	font-weight: 600!important;
	font-family: Gilroy!important;
	color: rgba(0, 0, 0, 0.5);
}
.btn-close{
	border: none;
	background: url(img/close.svg) 5px 5px no-repeat;
	box-shadow: none!important;
	opacity: 1!important;
}

.arrivals-active-right{
	height: 40px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
	font-size: 14px!important;
}
.arrivals-active-left{
	height: 40px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
	font-size: 14px!important;
}
.arrivals-no-active-left{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
	font-size: 14px!important;
}
.arrivals-no-active-right{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
	font-size: 14px!important;
}
.div-check-mark{
	height: 40px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
}
.page-link{
	color: #CDD2E6;
	font-size: 14px;
	font-weight: 600;
	border: none;
	box-shadow: none!important;
}
.page-link-active{
	color: #031E80!important;
}
.page-link:hover{
	background: transparent;
	color: #CDD2E6;
}
.div-book-active{
	height: 40px;
	width: 120px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
	font-family: Gilroy;
	font-weight: 600;
	color: #000000!important;
}
.div-book{
	height: 40px;
	width: 120px;
	background: #FFFFFF;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
	font-family: Gilroy;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5)!important;
}
.nav-icon{
	color: #FFFFFF;
	box-shadow: none!important;
}

.list_line_1{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 3px;
	background: #D9D9D9;
}
.search-form input{
	background: #CDD2E6 url("img/search_1.svg") 10px 9px no-repeat;
	height: 40px!important;
}
.search-form input::placeholder{
	padding-left: 45px;
	color: rgba(0, 0, 0, 0.5)!important;
	font-weight: 600;
}
.img-curse{
	border-radius: 17px 17px 0 0;
}
.curse h1{
	font-size: 64px!important;
}
.curse h2{
	font-size: 20px; 
	font-weight: 700!important;
}
.label-select{
	padding-right: 130px;
}
