h1 {
    font-size: 47px;
    font-weight: 700;
}

.bg-light-filter {
    position: sticky;
    background-color: #F9FAFC;
}

.bg-light-filter.box-shadow {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.09);
}

.form .form-label {
    font-weight: 600;
}

.form .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(38, 50, 56, 0.50);
}

.form .input-bg {
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.09);
}

.form .form-control::placeholder {
    color: rgba(38, 50, 56, 0.50);
}

.fw-700 {
    font-weight: 700;
}

.br-20 {
    border-radius: 20px
}

.select2-search--dropdown,
.select2-results {
    padding: 1rem .3rem 0 .3rem !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #031E80FF !important;
}

.select2-container--default .select2-selection--single {
    border: none !important;
    border-radius: 0.5rem !important;
    padding: 1rem !important;
    height: auto !important;
    font-weight: 500 !important;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.09);
}


.select2-dropdown {
    border: none !important;
    border-radius: 1rem !important;
    margin-top: -0.5rem !important;
    border-top-width: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    z-index: 1049 !important;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25)
}

.select2-results__option {
    padding: 0.5rem 1rem !important;
    border-radius: 0.25rem !important;
    font-weight: 400 !important;
    font-size: 13px;
}

.select2-results__options {
    margin-bottom: 1rem !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: solid #cdd2e6 !important;
    border-width: 0 2px 2px 0 !important;
    display: inline-block !important;
    padding: 3px !important;
    transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg) !important;
    margin-top: 12px !important;
    margin-left: -15px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: solid #cdd2e6 !important;
    border-width: 0 2px 2px 0 !important;
    display: inline-block !important;
    padding: 3px !important;
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    margin-top: 12px !important;
    margin-left: -15px !important;
}

.pagination .page-link {
    color: #263238;
    font-weight: 700;
    box-shadow: none;
}

.pagination .page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border: none;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.pagination .page-link.active,
.pagination .page-link.next {
    border-radius: 67px;
    background: linear-gradient(113deg, #E64EFF 0%, #FF7A00 100%);
    color: #FFF;
}

.btn-active {
    border-radius: 67px;
    background: linear-gradient(113deg, #E64EFF 0%, #FF7A00 100%);
    color: #FFF;
}

.btn-badge {
    position: relative;
    border-radius: 67px;
    background: #fff;
    text-align: center;
    margin: 0.5rem 0;
    padding: 1em 2em;
    color: #FE7101;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.27px;
    transition: 0.4s;
}

.btn-badge i {
    color: #FE7101;
    transition: 0.3s;
}

.btn-badge::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #FF8A00 0%, #F90C4F 100%);
    border-radius: 67px;
    z-index: -1;
}

li.select2-results__option {
    margin: 0;
}

.btn-badge {
    padding: 0.5rem;
}

.btn-badge:hover,
.btn-badge:active,
.btn-badge:hover i {
    color: #fff !important;
    transition: 0.3s;
}

.btn-active {
    padding: 0.5rem 2rem;
    font-weight: 700;
}

.btn-active:hover,
.btn-active:active {
    color: #FFF !important;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25) !important;
}


.switch .nav-link.active {
    border-radius: 67px;
    background: linear-gradient(113deg, #E64EFF 0%, #FF7A00 100%);
    color: #FFF;
}

.switch .nav-link.active::before {
    display: none;
}

.switch .nav-link {
    position: relative;
    border-radius: 67px;
    background: #fff;
    text-align: center;
    margin: 0.5rem 0;
    padding: 1em 5em;
    color: #FE7101;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.27px;
    transition: 0.4s;
}

.switch .nav-link::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(180deg, #FF8A00 0%, #F90C4F 100%);
    border-radius: 67px;
    z-index: -1;
}

.catalog-card {
    border-radius: 18px;
    box-shadow: 2px 4px 11px -4px rgba(0, 0, 0, 0.25);
    border: none;
}

.catalog-card.blue:hover {
    background-color: #ECF2FF;
}

.catalog-card.violet:hover {
    background-color: #FBECFF;
}

.catalog-card.pink:hover {
    background-color: #FFECFA;
}

.catalog-card.orange:hover {
    background-color: #FFF7EC;
}

.catalog-card p {
    color: #000;
    font-weight: 500;
}

.text-lin-1 {
    background: linear-gradient(113deg, #FF7A00 17.19%, #E64EFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
    font-weight: 500;
}

.text-lin-1.active {
    opacity: 1;
}

.text-lin-2 {
    background: linear-gradient(150deg, #8B2CF5 0%, #D92CF5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#list-content-tab {
    border-bottom: 1px solid transparent;
}

#list-content-tab.nav-tabs .nav-link span {
    color: rgba(38, 50, 56, 0.50);
    font-size: 13px;
    font-weight: 600;
    padding: 0.4rem 1rem;
}

#list-content-tab.nav-tabs .nav-link {
    padding: 1rem;
    background: #F9FAFC;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 1px solid #2632381A;
}

#list-content-tab.nav-tabs .nav-link.active span {
    border-radius: 67px;
    background: linear-gradient(113deg, #E64EFF 0%, #FF7A00 100%);
    color: #FFF;
}

#list-content-tab.nav-tabs .nav-link.active {
    background: #FFF;
    box-shadow: 0px -5px 9px -2px rgba(0, 0, 0, 0.15) !important;
    z-index: 2;
    position: relative;
    border: 1px solid #fff;
}

#list-content-tab .tab-pane.active {
    background-color: #FFF;
    padding: 3rem;
    border-radius: 24px;
    border-top-left-radius: 0;
}

#list-content-tab .nav-tabs li {
    margin: 0;
}

#list-content-tab .nav-tabs {
    border: none;
}

#list-content-tab li {
    margin: 0;
}

.tab-content-book.tab-content {
    box-shadow: 0px 3px 9px 6px rgba(0, 0, 0, 0.15) !important;
    z-index: 1;
    position: relative;
    border-radius: 24px;
    border-top-left-radius: 0;
}

.tab-content-book ul {
    padding-left: 1rem;
    list-style-type: none;
}

.tab-content-book ul li {
    padding-left: 2rem;
    background-image: url(img/collection/dot.svg);
    background-position: 0 5px;
    background-size: 1rem 0.7rem;
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
}

.tab-content-book h5 {
    font-size: 20px;
    font-weight: 600;
}

.tab-content-book p {
    color: #92989B;
    font-weight: 500;
}
.text-collection {
    color: #92989B;
    font-weight: 500;
    font-size: 20px;
}
@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }
    h3, .nav-link, .tab-content-book p {
        font-size: 14px !important;
    }
    .tab-content-book h5, .text-collection {
        font-size: 16px;
    }
}

