* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.text{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
html,main{
  background: url(img/star.jpg);
  background-repeat:repeat;
  background-position: left top;
}
a {
  font-family: "Nova Square", sans-serif;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all.1s ease;
}
a:hover {
  color: #ffa500;
  -webkit-transition: all.1s ease;
}

.header {
  background-color: rgba(0,0,0,0);
  transition: 1s;
}

.sticky {
  background-color: rgba(1,1,1,1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

h1,h2,h3,h4,h5,h6,p{
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-top: 5%;
  padding-bottom: 1%;
}
/*
.carousel .carousel-indicators li {
   width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel .carousel-indicators button {
   width: 10px;
  height: 10px;
  border-radius: 100%;
}
*/