@import url("fonts/GilroyRegular/style.css");
@import url("fonts/GilroyHeavy/style.css");
@import url("fonts/GilroySemibold/style.css");
@import url("fonts/GilroyBold/style.css");
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/GilroyMedium/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/GilroyMedium/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/GilroyMedium/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/GilroyMedium/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/GilroyMedium/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/GilroyMedium/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
nav.mobile {
    display: none;
}
@media(min-width: 1400px){
	.registration button{
		background: #031E80 url(img/arrow-read.svg) 290px no-repeat!important;
	}
	.start button{
		background: #031E80 url(img/arrow-white.svg) 350px no-repeat!important;
	}
}
@media(max-width: 1400px){
	.btn-download {
    height: 44px;
    width: 284px!important;
	}
	.underline-p-2::after { 
	  left: 240px!important;
	}
	.underline-p-3::after {
	  left: 400px!important;
	  width: 50px!important;
	}
	.underline-p-4::after { 
	  width: 100px!important;
	}
	.img-curse{
	width: 328px;
	height: auto;
	}
	.select-item-sc{
	width: 150px!important;
	background-position-x: 120px!important;
	}
	.label-select{
		padding-right: 100px!important;
	}
	.start button{
	width: 320px!important;
	background: #031E80 url(img/arrow-white.svg) 290px no-repeat!important;
	}
	.lesson-no-active-line{
		width: 300px!important;
	}
	.registration button{
		width: 451px!important;
		background: #031E80 url(img/arrow-read.svg) 310px no-repeat!important;
	}
}
@media(max-width: 1200px){
	nav.desktop {
    display: none;
	}
	nav.mobile {
    display: block;
	}
	.btn-download {
    height: 44px;
    width: 224px!important;
	}
	.underline-p-2::after { 
	  left: 180px!important;
	  width: 115px;
	}
	.underline-p-3::after {
	  left: 310px!important;
	  width: 45px!important;
	}
	.underline-p-4::after { 
	  width: 90px!important;
	}
	.img-curse{
	width: 270px;
	height: auto;
	}
	.select-item-sc{
	width: 130px!important;
	background-position-x: 110px!important;
	}
	.label-select{
		padding-right: 80px!important;
	}
	.start button{
		width: 260px!important;
		background: #031E80 url(img/arrow-white.svg) 230px no-repeat!important;
	}
	.lesson-no-active-line{
		width: 250px!important;
	}
	.registration button{
		width: 376px!important;
		background: #031E80 url(img/arrow-read.svg) 270px no-repeat!important;
	}
	.padding-content{
		margin-bottom: 60px!important;
		margin-top: 60px!important;
	}
	.btn-close{
		background: url(img/close.svg) 0px 0px no-repeat;
	}
}
@media(max-width: 992px){
	.btn-download {
    height: 44px;
    width: 264px!important;
	}
	.underline-p-2::after { 
	  left: 200px!important;
	  width: 105px!important;
	}
	.underline-p-3::after {
	  left: 330px!important;
	  width: 45px!important;
	}
	.underline-p-4::after { 
	  width: 100px!important;
	}
	.img-curse{
	width: 320px;
	height: auto;
	}
	.start button{
	width: 300px!important;
	background: #031E80 url(img/arrow-white.svg) 240px no-repeat!important;
	}
	.lesson-no-active-line{
		width: 160px!important;
	}
	.padding-content{
		margin-bottom: 60px!important;
		margin-top: 600px!important;
	}
	.pagination-position{
		justify-content: flex-start!important;
	}
}

@media(max-width: 767px){
	.btn-download {
      height: 44px;
      width: 372px!important;
	}
	.underline-p-2::after { 
	  left: 120px!important;
	  width: 90px!important;
	}
	.underline-p-3::after {
	  left: 215px!important;
	  width: 45px!important;
	}
	.underline-p-4::after { 
	  width: 100px!important;
	}
	.img-curse{
	  width: 440px;
	  height: auto;
	}
	.lesson-no-active-line{
		width: 180px!important;
	}
	.padding-content{
		margin-bottom: 60px!important;
		margin-top: 680px!important;
	}
}
@media(max-width: 576px){
	.btn-download {
    height: 44px;
    width: 372px!important;
	}
	.girl-follow{
	 right: -30px;
	}
	.registration button{
		width: 459px!important;
		background: #031E80 url(img/arrow-read.svg) 320px no-repeat!important;
	}
}
@media(max-width: 500px){
	.btn-download {
    height: 44px;
    width: 315px!important;
	}
	.lesson-no-active-line{
		width: 160px!important;
	}
	.padding-content{
		margin-bottom: 0px!important;
		margin-top: 720px!important;
	}
}
body{
	position: relative;
}
input[type="text"]::placeholder {
  	font-family: Gilroy;
  	font-weight: 600;
  	color: #CDD2E6;
}
input[type="text"]{
	border: 2px solid #CDD2E6;
	border-radius: 3px;
}
input[type="text"]:focus{
	box-shadow: none!important;
	border: 2px solid #031E80;
}
textarea:focus{
	box-shadow: none!important;
	border: 2px solid #031E80!important;
}
textarea{
	border-radius: 3px;  
  	border: 2px solid #CDD2E6!important;
}
textarea::-webkit-resizer{
	background: url(img/resize.svg) 6px 6px no-repeat;
}
input[type="search"]::placeholder {
	font-family: Gilroy;
	color: rgba(255, 255, 255, 0.5)!important;
}
input[type="search"]{
	background: rgba(255, 255, 255, 0.2) url("img/search.svg") 10px 9px no-repeat;
	border:none; 
	border-radius: 10px;
}
.pt-6 {
    padding-top: 4rem!important;
}
.form-control{
	font-size: 14px;
}
.form-control-sc{
	font-size: 12px;
}
.datalib-btn-white:hover{
	color: #FFFFFF!important;
}
a.nav-link {
    color: #FFFFFF!important;
    font-family: Gilroy;
    font-size: 14px;
}
a.nav-mobile{
	font-size: 16px!important;
}
a.nav-link:hover{
	color: #FFFFFF!important;
	text-decoration: underline;
}
a.nav-link:active{
	color: #FFFFFF!important;
	text-decoration: underline;
}
header .btn{
	color: #FFFFFF;
	font-family: Gilroy;
	font-size: 14px;
}
h1{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #031E80;
}
h2{
	font-family: 'Gilroy';
	color: #031E80;
	font-weight: 600!important;
}
h3{
	font-family: 'Gilroy';
	color: #031E80;
	font-weight: 700;
	font-size: 16px;
}
h4{
	font-family: Gilroy-Medium!important;
	color: #031E80;
	font-weight: 500!important;
}
h5{
	font-family: Gilroy-Medium!important;
	color: #031E80;
	font-weight: 500!important;
	font-size: 14px;
}
h6{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	color: #000000;
}
main{
	background: #DEE2EF;
}

p{
	font-family: 'Gilroy';
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	font-style: normal;
}
.profile p{
	color: #031E80;
}
footer, nav {
	background: #031E80;
}
footer p {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500!important;
}
footer a {
	color: #FFFFFF;
}
.sidebar{
	background: #FFFFFF;
	font-family: Gilroy;
}

.content{
	background: #FFFFFF;
	position: relative;
}
.border{
	border-radius: 10px;
	border: 2px solid #CDD2E6!important;
}
.border-round{
	border-radius: 10px;
}
label{
	font-family: Gilroy;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-size: 14px;
}
.btn-list{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
}
.btn-list[aria-expanded="true"]::before {
    content: url("img/chevron-up.svg");
}
.btn-list::before {
    width: 1.25em;
    line-height: 0;
    content: url("img/chevron-down.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}
a.list-active{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	color: #031E80;
	text-decoration: none;
	font-weight: 600;
}
a.list-no-active{
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	color: rgba(0, 0, 0, 0.55);
	text-decoration: none;
}
a.list-sidebar{
	color: #000000;
	font-family: Gilroy-Medium!important;
	font-weight: 500!important;
	text-decoration: none;
}
.btn-list{
	color: #000000;
	font-family: Gilroy;
	font-weight: 600;
	box-shadow: none!important;
}
.form-label-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 11px 0 0;
    padding: 8px 20px 7px;
    border-radius: 10px;
    font-size: 14px;
    background: #CDD2E6;
    color: #000000;
    cursor: pointer;
    font-family: Gilroy;
}

.form-control-file {
    display: none;
}

.form-check-input:checked {
    background-color: #031E80;
    border-color: #031E80;
    outline: 0;
}

.form-check-input {
	width: 1.5em;
    height: 1.5em;
    background-size: auto;
    box-shadow: none!important;
    border: 1px solid #031E80!important;
}

.form-check-input:checked[type=checkbox]{
	background-image: url("img/check.svg");
}
.form-check-input:checked[type=radio]{
	background-image: url("img/check.svg");
}
.girl-container{
	position:absolute;
	display:block;
	bottom: 0px;
	right:-20px;
}
.text-container{
	position: relative;
	border-radius: 10px; 
	border: 2px solid #CDD2E6;
}
.footer-pale-white{
	color: rgba(255, 255, 255, 0.7);
}
.footer-white-main{
	color: #FFFFFF;
	line-height: 1.2;
}
.footer-white{
	color: #FFFFFF;
	line-height: 1.5;
}
.footer-pale-white-mini{
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
}
.grey-text{
	color: rgba(0, 0, 0, 0.5)!important;
	font-weight: 600; 
	line-height: 1;"
}
button[type="submit"]{
	border-radius: 10px; 
	background: #031E80; 
	color: #FFFFFF;
}
.bg-grey{
	background: #CDD2E6;
}
.border-top{
	border-top: 2px solid #CDD2E6!important;
} 
.border-bottom{
	border-bottom: 2px solid #CDD2E6!important;
}
.datalib-btn:hover{
	color: #FFFFFF;
}
.btn:disabled{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #031E80;;
	opacity: 1!important;
}

.btn-bell{
	background: rgba(255, 255, 255, 0) url("img/bell.svg") 0px 2px no-repeat;
	height: 15px;
	width: 13px;
	border: none;
}
.btn-bell-active{
	background: rgba(255, 255, 255, 0) url("img/bell_active.svg") 0px 0px no-repeat;
	height: 15px;
	width: 13px;
	border: none;
}
.btn-nav{
	background: none;
	border: none;
	color: #FFFFFF;
	font-family: Gilroy;
    font-size: 14px;
}
.btn-nav:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-nav[aria-expanded="true"]::before {
    content: url("img/nav_up.svg");
}
.btn-nav::after {
    width: 1.25em;
    padding-left: 2px;
    line-height: 0;
    content: url("img/nav_down.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}
.btn-nav-1{
	background: none;
	border: none;
	color: #FFFFFF;
	font-family: Gilroy;
    font-size: 16px;
}
.btn-nav-1:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.btn-nav-1[aria-expanded="true"]::before {
    content: url("img/nav_up.svg");
}
.btn-nav-1::after {
    width: 1.25em;
    padding-left: 2px;
    line-height: 0;
    content: url("img/nav_down.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}
.edit-container{
	position: absolute;
	display:block;
	top: 0px;
	right: 0px;
}
.btn-edit{
	background: rgba(255, 255, 255, 0) url("img/edit.svg") 0px 0px no-repeat;
	height: 40px;
	width: 40px;
	border: none;
}
.grey-p p{
	color: rgba(0, 0, 0, 0.55)!important;
}
.profile-line{
	position: absolute;
	display:block;
	top: 145px;
	right: 0px;
}
.menu:before {
    position: absolute;
    left: 20px;
    bottom: 95%;
	content: '';
    background-image: url('img/white_navbar_catalog.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}
.menu {
	position: absolute;
	top: 70px;
	left: 605px;
	background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
}
.menu.open {
    transition: .2s visibility linear, .2s opacity linear;
    visibility: visible;
    opacity: 1;
}
.menu-1:before {
    position: absolute;
    right: 30px;
    bottom: 97%;
	content: '';
    background-image: url('img/white_navbar_catalog.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}
.menu-1 {
	position: absolute;
	top: 70px;
	right: 270px;
	background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
}
.menu-1.open {
    transition: .2s visibility linear, .2s opacity linear;
    visibility: visible;
    opacity: 1;
}
.nav-list{
	color: #000000;
	font-family: Gilroy-Medium!important;
	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
}
.nav-list:hover{
	color: #000000;
}
.menu li:hover{
	background: #E5E8F2;
	border-radius: 15px;
}
.menu-1 li:hover{
	background: #E5E8F2;
	border-radius: 15px;
}
.btn-event{
	text-decoration: none;
	background-color: transparent;
    border: 0px solid transparent;
    padding: .375rem 0.75rem;
    font-weight: 600;
    font-size: 12px;
	font-family: Gilroy;
	color: rgba(0, 0, 0, 0.5);
}
.btn-event-active{
	text-decoration: none;
	background-color: transparent;
    border: 0px solid transparent;
    padding: .375rem 0.75rem;
    font-weight: 600;
    font-size: 12px;
	font-family: Gilroy;
	color: #031E80;
}
.event-active-right{
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
}
.event-active-left{
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
}
.event-no-active-left{
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
}
.event-no-active-right{
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
}
.all-event{
	text-decoration: none;
	border-radius: 10px;
	background: #031E80;
    border: 0px solid transparent;
    padding: .375rem 0.75rem;
    font-weight: 500;
    font-size: 14px;
	font-family: Gilroy;
	color: #FFFFFF;
}
.event{
	border-radius: 15px;
	border: 2px solid #CDD2E6;
	position: relative;
}
.hashtags-sc-img{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.84)), rgba(3, 30, 128, 0.28);;
	font-family: Gilroy;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
}
.div-hashtags-sc-img{
	position: absolute;
	/*padding-left: 200px;*/
	top: 30px;
	right: 40px;
}
.hashtags-sc{
	text-decoration: none;
	border-radius: 5px;
	border: 0px solid transparent;
	background: #CDD2E6;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 14px;
	font-weight: 500;
}
.hashtags-light{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: #E5E8F2;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 14px;
	font-weight: 500;
}
.hashtags{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: #CDD2E6;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 12px;
	font-weight: 500;
}
.hashtags-green{
	text-decoration: none;
	border-radius: 10px;
	border: 0px solid transparent;
	background: #C7E8E8;
	font-family: Gilroy-Medium;
	color: #031E80;
	font-size: 12px;
	font-weight: 500;
}
.btn-download {
    height: 44px;
    width: 398px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}
.download-container{
	position: absolute;
	display:block;
	bottom: -2px;
	left: -2px;
	height: 44px;
    width: auto;
    background: #031E80;
	border-radius: 0px 0px 15px 15px;
}

::-webkit-datetime-edit{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
::-webkit-calendar-picker-indicator{
	display: none;
}

.list_line{
	width: auto;
	height: 3px;
	background: #CDD2E6;
}
.black-text{
	color: #000000!important;
}
.underline-div{
	position: relative;
}
.underline-p-1::after { 
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  display: block;
  height: 3px;
  width: 50px;
  background: #031E80;
}
.underline-p-2::after { 
  content: "";
  position: absolute;
  top: 80px;
  left: 350px;
  display: block;
  height: 3px;
  width: 115px;
  background: #031E80;
}
.underline-p-3::after { 
  content: "";
  position: absolute;
  top: 80px;
  left: 550px;
  display: block;
  height: 3px;
  width: 60px;
  background: #031E80;
}
.underline-p-4::after { 
  content: "";
  position: absolute;
  top: 80px;
  right: 0px;
  display: block;
  height: 3px;
  width: 130px;
  background: #031E80;
}
.p-12{
	font-size: 12px!important;
}
.bottom-line-arrival{
	border-bottom: 2px solid #e5e7ea;
}

select{
	padding-left:5px;
 	-webkit-appearance: none;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	background: url("img/chevron-down.svg") 0px 15px no-repeat;
	background-position-x: 100px;
	width: 120px;
	height: 40px;
	font-family: Gilroy;
	font-size: 12px;

}
.select-item-sc{
	width: 180px;
	background-position-x: 150px;
}
.select-item-sc select:active, select:focus{
	background-position-x: 150px!important;
}
.select-item{
	box-shadow: none!important;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	background-position-x: 90%!important;
}
.select-item:hover{
	background-color: transparent;
}
.select-item select:active, select:focus{
	background-position-x: 90%!important;
}
select:hover{
	background-color: rgba(224, 229, 231, 0.5);
}
select:active, select:focus{
	background: url("img/chevron-up.svg") 0px 15px no-repeat;
	background-position-x: 100px;
	outline: none!important;
	border: 2px solid #031E80!important;
}
.date-left{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
}
.date-right{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
}
input[type="date"]:focus{
	outline: none;
}
input[type="date"]{
	outline: none;
	border: none;
	width: 70px;
}
::-webkit-datetime-edit {
	font-weight: 600!important;
	font-family: Gilroy!important;
	color: rgba(0, 0, 0, 0.5);
}
.btn-close{
	border: none;
	background: url(img/close.svg) 5px 5px no-repeat;
	box-shadow: none!important;
	opacity: 1!important;
}

.arrivals-active-right{
	height: 40px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
	font-size: 14px!important;
}
.arrivals-active-left{
	height: 40px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
	font-size: 14px!important;
}
.arrivals-no-active-left{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 10px 0 0 10px;
	font-size: 14px!important;
}
.arrivals-no-active-right{
	height: 40px;
	border: 2px solid #CDD2E6;
	border-radius: 0 10px 10px 0;
	font-size: 14px!important;
}
.btn-arrivals:hover{
	color: rgba(0, 0, 0, 0.5);
}
.btn-arrivals{
	box-shadow: none!important;
	height: 40px;
	width: 224px;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
	text-decoration: none;
    padding: .375rem 0.75rem;
    font-weight: 600;
	font-family: Gilroy;
	color: rgba(0, 0, 0, 0.5);
}
.btn-active{
	background: #CDD2E6;
}
.div-check-mark{
	height: 40px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
}
.page-link{
	color: #CDD2E6;
	font-size: 14px;
	font-weight: 600;
	border: none;
	box-shadow: none!important;
}
.page-link-active{
	color: #031E80!important;
}
.page-link:hover{
	background: transparent;
	color: #CDD2E6;
}
.div-book-active{
	height: 40px;
	width: 120px;
	background: #CDD2E6;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
	font-family: Gilroy;
	font-weight: 600;
	color: #000000!important;
}
.div-book{
	height: 40px;
	width: 120px;
	background: #FFFFFF;
	border: 2px solid #CDD2E6;
	border-radius: 10px;
	font-size: 14px!important;
	font-family: Gilroy;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5)!important;
}
.nav-icon{
	color: #FFFFFF;
	box-shadow: none!important;
}

.list_line_1{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 3px;
	background: #D9D9D9;
}
.list_line_light{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 3px;
	background: #E5E8F2;
}
.search-form input{
	background: #CDD2E6 url("img/search_1.svg") 10px 9px no-repeat;
	height: 40px;
}
.search-form input::placeholder{
	padding-left: 45px;
	color: rgba(0, 0, 0, 0.5)!important;
	font-weight: 600;
}
.img-curse{
	border-radius: 17px 17px 0 0;
}
.p-64{
	font-size: 64px!important;
	color: #031E80;
}
.p-20{
	font-size: 20px; 
	font-weight: 700!important;
	color: #031E80;
}
.label-select{
	padding-right: 130px;
}
.list_line_2{
	width: auto;
	height: 1px;
	background: #CDD2E6;
}
.percent-line{
	width: auto;
	height: 5px;
	border-radius: 17px;
	background: #CDD2E6;
}
.percent-line-blue{
	position: absolute;
	width: 70%;
	height: 5px;
	border-radius: 17px;
	background: #031E80;
}
.percent-line-blue-1{
	position: absolute;
	width: 8%;
	height: 5px;
	border-radius: 17px;
	background: #031E80;
}
.text-sc{
	font-size: 24px;
	color: #031E80;
}
.text-sc span{
	padding: 0 10px;
	background: #CDD2E6;
	border-radius: 5px;
}
.list_line_black{
	width: auto;
	height: 1px;
	background: #000000;
}
.accordion-border-bottom{
	border-bottom: 1px solid #D1D1D1;
}
.accordion-button:after{
	background-image: url(img/plus.svg)!important;
}
.accordion-button:not(.collapsed)::after{
	transform: rotate(-90deg);
	background-image: url(img/X.svg)!important;
}
.accordion-button{
	color: #031E80;
	font-weight: 600;
	font-size: 20px;
	background-color: transparent!important;
	box-shadow: none!important;
}
.accordion-button:not(.collapsed){
	color: #031E80!important;
	background-color:transparent!important;
}
.accordion-item{
	background: transparent!important; 
	border: none;
	box-shadow: none!important;
}
.accordion-item: active{
	background: #000!important; 
	border: none;
}
.accordion-item: focus{
	background: transparent!important; 
	border: none;
}
.p-500{
	font-family: Gilroy-Medium; 
	font-weight: 500;
}
.p-blue{
	color: #031E80;
}
.padding-10px{
	padding-left: 10px;
}
.big-h1{
	font-weight: 700; 
	font-size: 64px;
}
.font-16{
	font-size: 16px;
}
.font-12{
	font-size: 12px;
}
.font-11{
	font-size: 11px;
}
.font-li{
	font-size: 14px; 
	font-weight: 600; 
	font-family: Gilroy!important;
}
.font-ul{
	font-size: 14px; 
	font-weight: 500; 
	font-family: Gilroy!important;
}
.p-sc-40{
	font-size: 40px;
	color: #031E80;
}
.p-sc-24{
	font-size: 24px;
	color: #031E80;
	font-weight: 500; 
	font-family: Gilroy-Medium;
}
.p-sc-main{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #031E80;
}
.content-blue{
	background: #031E80;
	position: relative;
}
.content-blue p{
	color: #FFFFFF;
	font-weight: 500;
}
.content-blue-main-p{
	color: #FFFFFF; 
	font-size: 20px; 
	font-weight: 500;
}
.p-nav{
	color: rgba(3, 30, 128, 0.6);
}
.p-nav-active{
	color: rgba(3, 30, 128, 1);
}
.lesson-step{
	height: 73px;
	background: #F5F7FE;
	border-bottom: 3px solid #CDD2E6;
	border-radius: 10px 10px 0px 0px;
}
.lesson-step p{
	font-size: 24px;
	color: #031E80;
	text-align: center;
	padding-bottom: 17px;
}
.lesson-no-active p{
	color: #CDD2E6;
}
.lesson-active p{
	border-bottom: 3px solid #031E80;
}
.lesson-no-active-line{
	left: 25px;
	top: 70px;
	position: absolute;
	background: rgba(3, 30, 128, 0.3);
	width: 350px;
	height: 3px;
}
.p-bottom-line{
	border-bottom: 1px solid #031E80;
	font-size: 12px;
}
.font-weight-500{
	font-weight: 500;
}

.form-check-input-sc {
	width: 1em!important;
    height: 1em!important;
}
.form-check-input-sc:checked[type=checkbox]{
	background-image: url("img/check-little.svg")!important;
}
.form-control-sc input[type="text"]{
	border: 1.5px solid #CDD2E6!important;
	border-radius: 3px!important;
}
.select-form{
	border: 2px solid #CDD2E6;
	border-radius: 3px 3px 0 0;
	color: #CDD2E6;
}
.select-form p{
	font-weight: 500!important;
	font-size: 12px!important;
	font-family: Gilroy-Medium!important;
}
.select-custom-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	padding: 10px 15px;
	border: 2px solid #CDD2E6;
	border-radius: 0px 0px 10px 10px;
	font-family: Gilroy;
}
.select-custom-content li{
	list-style-type: none;
	font-size: 14px;
	font-weight: 600;
}
.select-custom-content li:hover{
	background: #E5E8F2;
	border-radius: 10px;
}
.date-line-step{
	height: 40px;
	background: #F5F7FE;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 3px solid #CDD2E6;
}
.date-line-step p{
	font-size: 14px;
	color: #031E80;
	text-align: center;
	padding-bottom: 0px;
}
.date-step-active{
	padding-top: 3px;
	width: 50px;
	border-bottom: 3px solid #031E80;
}
.p-16{
	font-size: 16px;
	font-weight: 700;
}
.p-16-normal{
	font-size: 16px;
}
.event p{
	color: #031E80;
}
.list_line_event{
	width: auto;
	height: 1px;
	background: #CDD2E6;
}
.border-end-date {
	height: 30px;
    border-right: 2px solid #CDD2E6!important;
}
.bg-blue{
	background: #F5F7FE; 
	height: 500px;
}
.bg-blue-1{
	background: #F5F7FE; 
	height: 412px;
}
.bg-grey-light{
	background: #E5E8F2; 
}
.bg-grey{
	background:#CDD2E6;
}
.p-18{
	font-size: 18px;
	font-weight: 700;
}
.p-18-normal{
	font-size: 18px;
}
.girl-follow{
	position: absolute;
	top: -49px;
}
.content-follow{
	height: 94px;
	border: 2px solid #CDD2E6; 
	position: relative;
}
.list_line_2{
	left: 0px;
	width: 100%;
	height: 2px;
	background: #CDD2E6;
}
.btn-blue{
	background: #031E80;
}
.btn-datalib:hover{
	color: #FFFFFF;
}
.btn-datalib{
	box-shadow: none!important;
	text-decoration: none;
	border-radius: 10px;
	color: #FFFFFF;
	border: 0px solid transparent;
	font-family: Gilroy-Medium;
}
.btn-datalib.arrow{
	background: #031E80 url(img/arrow-read.svg) 150px no-repeat;
}
.btn-datalib.export{
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	background: #031E80 url(img/export.svg) 25px 10px no-repeat;
	padding-top: 10px;
}
.export span{
	padding-left: 40px;
	padding-right: 10px;
}
.registration button{
	width: 415px;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
}
.read button{
	width: 189px;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
}
.start button{
	width: 380px;
	height: 62px;
	font-size: 24px;
	font-weight: 500;
}
.black-a{
	color: #000000;
}
.black-a:hover{
	color: #000000;
}
.pagination-position{
	display: flex;
	justify-content: flex-end;
}
.scroller{
  height: 495px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
.scroller::-webkit-scrollbar {
  width: 8px;
}

.scroller::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #707EB4;
  border-radius: 10px;
  border: 0px solid #FFFFFF;
}
